page-home {

   
    .login-logo
    {
        color:red;
        // background-color: transparent;
        // display: block;
        margin: auto;
        height: 800px;
        width: 100px;
     }
  
}
